[submodule "external/toxcore/c-toxcore/third_party/cmp"]
	path = external/toxcore/c-toxcore/third_party/cmp
	url = https://github.com/camgunz/cmp
[submodule "external/solanaceae_plugin"]
	path = external/solanaceae_plugin
	url = https://github.com/Green-Sky/solanaceae_plugin
[submodule "external/solanaceae_toxcore"]
	path = external/solanaceae_toxcore
	url = https://github.com/Green-Sky/solanaceae_toxcore.git
